          * {    
          box-sizing: border-box;    
        }    
            
        input[type=text], select, textarea {    
          width: 100%;    
          padding: 12px;    
          border: 1px solid rgb(70, 68, 68);    
          border-radius: 4px;    
          resize: vertical;    
        }    
        input[type=email], select, textarea {    
          width: 100%;    
          padding: 12px;    
          border: 1px solid rgb(70, 68, 68);    
          border-radius: 4px;    
          resize: vertical;    
        }    
            
        label {    
          padding: 12px 12px 12px 0;    
          display: inline-block;    
        }    
            
        input[type=submit] {    
          background-color: rgb(37, 116, 161);    
          color: white;    
          padding: 12px 20px;    
          border: none;    
          border-radius: 4px;    
          cursor: pointer;    
          float: right;    
        }    
            
        input[type=submit]:hover {    
          background-color: #45a049;    
        }    
        
        input[type=Home] {    
          background-color: rgb(11, 156, 240);    
          color: rgb(2, 2, 2);    
          padding: 12px 20px;    
          border: none;    
          border-radius: 4px;    
          cursor: pointer;    
          float: right;    
        }    
            
        input[type=Home]:hover {    
          background-color: #d91313;    
        } 
          
            
        .col-25 {    
          float: left;    
          width: 25%;    
          margin-top: 6px;    
        }    
            
        .col-75 {    
          float: left;    
          width: 75%;    
          margin-top: 6px;    
        }    
            
        /* Clear floats after the columns */    
        .row:after {    
          content: "";    
          display: table;    
          clear: both;    
        }    
            
            
        
        
